body {
  /* display: flex; */
  /* flex-flow: row; */
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
}

.left-side {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-column: 1 / span 3;
}

.right-side {
  margin-top: 20px;
  grid-column: 4 / span 1;
  /* justify-content: end; */
  /* justify-items: end; */

  background-color: rgb(236, 236, 236);
  border-radius: 10px; 
  padding: 20px;
}

#simon {
  font-size: 50px;
}

#hi {
  display: inline-block;
}

.score-time {
  display: inline-flex;
  justify-content: center;
}

.color-wheel-parent {
  /* margin-left: 10px; */
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.color-wheel {
  display: flexbox;
  flex-flow: row;
  /* align-content: flex-start; */
  /* flex-wrap: wrap; */
  width: 400px;
  /* margin-left: 50px; */
}

.toprow {
  display: inline-block;
}

#green {
  border-top-left-radius: 100%;
  width: 150px;
  height: 150px;
  /* border-color: black; */
}

#red {
  border-top-right-radius: 100%;
  width: 150px;
  height: 150px;
}

.bottomrow {
  display: inline-block;
}

#yellow {
  border-bottom-left-radius: 100%;
  width: 150px;
  height: 150px;
}

#blue {
  border-bottom-right-radius: 100%;
  width: 150px;
  height: 150px;
}

#reset {
  margin-left: 20px;
}

#add-player {
  margin-left: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#learnMore {
  font-size: 15px;

}

#signUpBtn {
  margin-left: 10px;
}

#learnMore {
  vertical-align: super;
}

p {
  font-size: large;
}